@keyframes border_focus {
  0% {
    border-color: red;
  }
  25% {
    border-color: violet;
  }
  50% {
    border-color: blue;
  }
  100% {
    border-color: green;
  }
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: #fff;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #222222;
  text-decoration: none;
}

input[type=text] {
  border: 0;
  border-bottom: 2px solid #ccc;
  transition: border-color 2s;
}
input[type=text]:focus {
  outline: 0;
  border-color: orange;
}

.color-row-container {
  display: flex;
  height: 5px;
}
.color-row-container .color-column {
  flex: 1;
}
.color-row-container .color-column-1 {
  background-color: green;
}
.color-row-container .color-column-2 {
  background-color: violet;
}
.color-row-container .color-column-3 {
  background-color: orange;
}
.color-row-container .color-column-4 {
  background-color: #a0ff11;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

.bold {
  font-weight: 800;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 40px;
}

.container-full {
  width: 100%;
}

.desktop-hide {
  display: none !important;
}

.ccpv-cms {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ccpv-image-cms-1 {
  background-image: url("../img/action-2277292_1920.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-position: 50%;
}

.ccpv-image-cms-2 {
  background-image: url("../img/child-2936975_1920.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

.ccpv-image-nosotros {
  background-image: url("../img/architecture-2557567_1920.jpg");
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

@font-face {
  font-family: "Dosis";
  src: url("../webfonts/Dosis-Light.ttf") format("truetype");
}
/**
 * Basic typography style for copy text
 */
body {
  color: #222222;
  font: normal 125%/1.4 "Dosis", sans-serif;
}

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1280px;
  /* 1 */
  width: 70%;
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
.top-header {
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}
.top-header .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.top-header .header-rrss-icons {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: flex-end;
  grid-gap: 4px;
  align-items: flex-end;
}
.top-header form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
}
.top-header .header-col-3 {
  grid-column-start: 3;
}
.top-header .header-search-form .search-icon {
  font-size: 1.5rem;
  transition: color 0.2s;
  justify-self: flex-end;
}
.top-header .header-search-form input[type=text] {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}
.top-header .header-search-form input[type=text]:focus {
  border-bottom: 2px solid #26a69a;
  color: #26a69a;
}
.search-icon ~ .top-header .header-search-form input[type=text]:focus {
  color: #26a69a;
}

.ccpv-nav {
  height: 65px;
  background-image: url("../img/nav-textura.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #424242;
  display: flex;
}
.ccpv-nav .container {
  height: 100%;
}
.ccpv-nav ul.nav-standart {
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}
.ccpv-nav ul.nav-standart li, .ccpv-nav ul.nav-standart a {
  height: 100%;
  display: flex;
  align-items: center;
}
.ccpv-nav a {
  transition: background-color 0.3s;
  font-size: 15px;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
.ccpv-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.ccpv-nav .nav-line {
  border-left: 1px #fff solid;
  height: 40px;
}

#nav-mobile {
  display: none;
}

.ccpv-footer {
  height: 100%;
}
.ccpv-footer .footer-content {
  background-image: url("../img/footertexturatest.png");
  background-color: #424242;
  /*.footer-logo-1 img, .footer-logo-2 img, .footer-logo-3 img,
  .footer-logo-4 img{
      width: 100%;
  }*/
}
.ccpv-footer .footer-content .container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ccpv-footer .footer-rrss-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: center;
  justify-self: center;
}
.ccpv-footer .footer-map {
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 2em;
}
.ccpv-footer .footer-copyright {
  font-size: 12px;
  text-align: center;
}
.ccpv-footer .footer-copyright .container {
  padding: 20px;
}

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.ccpv-slideshow {
  /**
  * Carousel.sass
  * @author: Dang Van Thanh
  * @github: https://github.com/dangvanthanh/carousel.sass
  * @description: A Simple Carousel Pure CSS Using Sass
  * @version: 1.0.0
  */
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .ccpv-slideshow .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .ccpv-slideshow .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .ccpv-slideshow .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .ccpv-slideshow .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .ccpv-slideshow .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .ccpv-slideshow .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .ccpv-slideshow .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .ccpv-slideshow .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .ccpv-slideshow .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}
.ccpv-slideshow *,
.ccpv-slideshow *:before,
.ccpv-slideshow *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ccpv-slideshow body {
  background: #fcfcfc;
  margin: 0;
}
.ccpv-slideshow .container {
  width: 900px;
  min-width: 900px;
  margin: 50px auto;
}
.ccpv-slideshow .carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.ccpv-slideshow .carousel > input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}
.ccpv-slideshow .carousel > input[type=radio]:checked ~ .carousel__items .carousel__item,
.ccpv-slideshow .carousel > input[type=radio]:checked ~ .carousel__prev > label,
.ccpv-slideshow .carousel > input[type=radio]:checked ~ .carousel__next > label {
  opacity: 0;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}
.ccpv-slideshow .carousel > input[type=radio]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
.ccpv-slideshow .carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 445px;
  position: relative;
}
.ccpv-slideshow .carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.ccpv-slideshow .carousel__item img {
  width: 100%;
  vertical-align: middle;
}
.ccpv-slideshow .carousel__prev > label, .ccpv-slideshow .carousel__next > label {
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  z-index: 2;
}
.ccpv-slideshow .carousel__prev > label:hover, .ccpv-slideshow .carousel__prev > label:focus, .ccpv-slideshow .carousel__next > label:hover, .ccpv-slideshow .carousel__next > label:focus {
  opacity: 0.5 !important;
}
.ccpv-slideshow .carousel__prev > label:before, .ccpv-slideshow .carousel__prev > label:after, .ccpv-slideshow .carousel__next > label:before, .ccpv-slideshow .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}
.ccpv-slideshow .carousel__prev > label:before, .ccpv-slideshow .carousel__next > label:before {
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}
.ccpv-slideshow .carousel__prev > label {
  left: 2%;
}
.ccpv-slideshow .carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.ccpv-slideshow .carousel__next > label {
  right: 2%;
}
.ccpv-slideshow .carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}
.ccpv-slideshow .carousel__nav {
  position: absolute;
  bottom: 3%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.ccpv-slideshow .carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.125%;
  width: 20px;
  height: 20px;
}

main.ccpv-home .container > header h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
main.ccpv-home section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 23px;
  margin-top: 20px;
  margin-bottom: 40px;
}
main.ccpv-home article {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}
main.ccpv-home article img {
  width: 100%;
}
main.ccpv-home article .article-content {
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 85%;
  }
}
@media only screen and (max-width: 768px) {
  .ccpv-footer .footer-content .container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/*# sourceMappingURL=main.css.map */
