// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Dosis', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: #fff !default;

/// Dark grey
/// @type Color
$color-3: rgb(66, 66, 66) !default;

/// Dark Green
/// @type Color
$color-4: green !default;

/// Violet
/// @type Color
$color-5: violet !default;

/// Orange
/// @type Color
$color-6: orange !default;

/// Light Green
/// @type Color
$color-7: #a0ff11 !default;

/// Gray
/// @type Color
$color-8: #9e9e9e !default;

/// Acquamarine
/// @type Color
$color-9: #26a69a !default;


/// Container's maximum width
/// @type Length
$max-width: 1280px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
