@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/_carousel';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';

// 8. Responsive
@media only screen and (max-width: 1024px){ 
  @import
  'responsive/_general_1024';
}
@media only screen and (max-width: 992px){ 
  @import
  'responsive/_general_992';
}
@media only screen and (max-width: 768px){ 
  @import
  'responsive/_general_768';
}
@media only screen and (max-width: 480px){ 
  @import
  'responsive/_general_480';
}

  

