// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.ccpv-footer{
    height: 100%;

    .footer-content{
        background-image: url('../img/footertexturatest.png');
        background-color: $color-3;
        
        .container{
            display: grid;
            justify-content:  center;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-gap: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /*.footer-logo-1 img, .footer-logo-2 img, .footer-logo-3 img,
        .footer-logo-4 img{
            width: 100%;
        }*/
    }

    .footer-rrss-icons{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
        grid-column-start: 3;
        grid-column-end: 5;
        align-self: center;
        justify-self: center;
    }

    .footer-map{
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: 2em;
    }

    .footer-copyright{
        font-size: 12px;
        text-align: center;

        .container{
            padding: 20px;
        }
    }
}

