// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.top-header{
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-rrss-icons{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: flex-end;
        grid-gap: 4px;
        align-items: flex-end;
    }

    form{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        align-items: center;
    }

    .header-col-3{
        grid-column-start: 3;
    }

    .header-search-form{

        .search-icon{
            font-size: 1.5rem;
            transition: color 0.2s;
            justify-self: flex-end;
        }

        input[type=text]{
            width: 100%;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $color-8;
            border-radius: 0;
            outline: none;
            height: 3rem;
            font-size: 1rem;
            padding: 0;
            box-shadow: none;
            box-sizing: content-box;
            transition: all .3s;

            &:focus{
                border-bottom: 2px solid $color-9;
                color: $color-9;
            }

            
            .search-icon ~ &:focus{
                color: $color-9;
            }
        }
    }
}

.ccpv-nav{
    height: 65px;
    background-image: url('../img/nav-textura.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-color: $color-3;
    display: flex;

    .container{
        height: 100%;
    }

    ul.nav-standart{
        padding: 0;
        margin: 0;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;

        li, a{
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    // Diseño por defecto del navbar
    a{
        transition: background-color .3s;
        font-size: 15px;
        color: $brand-color;
        display: block;
        padding: 0 15px;
        cursor: pointer;

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .nav-line{
        border-left: 1px $brand-color solid;
        height: 40px;
    }
}

#nav-mobile{
    display: none;
}