// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body{
  height: 100%;
  overflow-x: hidden;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: none;
  }
}

input[type=text]{
  border: 0;
  border-bottom: 2px solid #ccc;
  transition: border-color 2s;

  &:focus{
    outline: 0;
    border-color: orange;
  }
}

.color-row-container{
  display: flex;
  height:5px; 

  .color-column{
      flex: 1;
  }

  .color-column-1{
      background-color: $color-4;
  }

  .color-column-2{
      background-color: $color-5;
  }

  .color-column-3{
      background-color: $color-6;
  }

  .color-column-4{
      background-color: $color-7;
  }
}

h2{
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  font-size: 16px;
}

.bold{
  font-weight: 800;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 40px;
}

.container-full{
  width: 100%;
}

.desktop-hide{
  display: none !important;
}

.ccpv-cms{
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ccpv-image-cms-1{
  background-image: url('../img/action-2277292_1920.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-position: 50%;
}

.ccpv-image-cms-2{
  background-image: url('../img/child-2936975_1920.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}

.ccpv-image-nosotros{
  background-image: url('../img/architecture-2557567_1920.jpg');
  background-attachment: fixed;
  height: 100vh;
  background-position: center;
}