// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Dosis';
    src: url('../webfonts/Dosis-Light.ttf') format('truetype');
  }