// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main.ccpv-home{

    .container > header h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        grid-gap: 23px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    article{
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.45);
        border-radius: 2px;

        img{
            width: 100%;
        }

        .article-content{
            padding: 20px;
        }
    }
}